@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");

$enable-responsive-font-sizes: true !important;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: inherit;
  vertical-align: baseline;
}

body {
  box-sizing: border-box;
}

html,
body,
#app,
#app > div {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-weight: 600;
}

p {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

a {
  color: $primary;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.nounderline {
  text-decoration: none !important;
}

#nav-space {
  margin-bottom: 5rem;
}
