@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");

$enable-responsive-font-sizes: true !important;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: inherit;
  vertical-align: baseline;
}

*::selection {
  background-color: #f1c40f;
}

body {
  box-sizing: border-box;
}

html,
body,
#app,
#app > div {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading;
  font-weight: 600;
}

p {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

a {
  color: $primary;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.nounderline {
  text-decoration: none !important;
}

.noColorLink {
  color: $dark;
  &:hover {
    color: $dark;
  }
}

#nav-space {
  margin-bottom: 5rem;
}

.no-nav-space {
  margin-top: -5rem !important;
}

.nobreak {
  white-space: nowrap;
}
