$gradient: linear-gradient(30deg, #6ab04c 0%, #badc58 85%);
$recipe-title: "Times New Roman",
Times,
serif;
$primary: #6ab04c;
$primary-dark: #218c74;
$secondary: #34495e;
$info: #3498db;
$spacer: 1rem;
$heading: "Montserrat",
"Times New Roman",
Times,
serif;

.text-primarydark {
    color: $primary-dark;
}

.card-link {
    &:hover {
        color: darken($primary-dark, 10%);
    }
}