.step-label {
    font-family: "Montserrat", "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: 1.5rem;
}

@include media-breakpoint-up(xs) {
    .preparation-text {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(sm) {
    .preparation-text {
        font-size: 2rem;
    }
}

.preparation-text {
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.end-text {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}