// Example usage:
@include media-breakpoint-up(xs) {
  .formLayout {
    width: auto;
    margin-left: $spacer;
    margin-right: $spacer;
  }
}

@include media-breakpoint-up(sm) {
  .formLayout {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include media-breakpoint-up(xs) {
  .formPaper {
    margin-top: $spacer * 1.5;
    margin-bottom: $spacer * 1.5;
    padding: $spacer * 1.25
  }
}


@include media-breakpoint-up(sm) {
  .formPaper {
    margin-top: $spacer * 5;
    margin-bottom: $spacer * 5;
    padding: $spacer * 1.25
  }
}